<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Django Site{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap" rel="stylesheet">
</head>
<body>
    <aside>
        <a href="{% url 'index' %}">Головна</a>
        <a href="{% url 'about' %}">Про бібліотеку</a>
        <a href="{% url 'stats' %}">Статистика</a>
        <a href="{% url 'catalog' %}">Каталог</a>
        <a href="{% url 'news' %}">Новини</a>
        <a href="{% url 'schedule' %}">Розклад</a>
        <a href="{% url 'reviews' %}">Відгуки</a>
        <a href="{% url 'ebooks' %}">Електронні ресурси</a>
        <a href="{% url 'team' %}">Команда</a>
        <a href="{% url 'faq' %}">FAQ</a>
        <a href="{% url 'partners' %}">Партнери</a>
        <a href="{% url 'kids' %}">Дітям</a>
        <a href="{% url 'cooperation' %}">Співпраця</a>
        <a href="{% url 'contacts' %}">Контакти</a>
    </aside>
    {% block content %}{% endblock %}
</body>
</html>