{% extends 'app/base.html' %}
{% block title %}Статистика{% endblock %}
{% block content %}
<h1>Статистика бібліотеки</h1>
<table>
    <tr>
        <th>Показник</th>
        <th>Значення</th>
    </tr>
    <tr>
        <td>Книг у бібліотеці</td>
        <td>12 000</td>
    </tr>
    <tr>
        <td>Зареєстрованих читачів</td>
        <td>3 400</td>
    </tr>
    <tr>
        <td>Відвідувачів за місяць</td>
        <td>980</td>
    </tr>
    <tr>
        <td>Працівників</td>
        <td>12</td>
    </tr>
</table>
{% endblock %}